# Anna Clara de Andrada

## Is there a relationship between a country's "happiness rank" and their GDP per capita? Are richer nations, on average, happier than developing and underdeveloped countries? 

### As an international student from Brazil who has also lived in Canada and in the United States during the past 3 years, I am very interested in such dynamics. Does financial prosperity play a role on the average citizen's life satisfaction? Lately, the idea that a functioning market brings happiness to all is coming into scrutiny as prices skyrocket and as populations start demanding more government support. It is of personal interest to observe this relationship so that we can understand what policies support a prosperous and happy society, and which ones don't.

In [30]:
import numpy as np
import pandas as pd
import seaborn as sns

df1 = pd.read_csv('../data/raw/world_happiness_report.csv')

print(df1)

      Unnamed: 0  Happiness Rank      Country  \
0              0               1  Switzerland
1              1               2      Iceland
2              2               3      Denmark
3              3               4       Norway
4              4               5       Canada
...          ...             ...          ...
1224         141             142    Botswana*
1225         142             143      Rwanda*
1226         143             144     Zimbabwe
1227         144             145      Lebanon
1228         145             146  Afghanistan

                               Region Happiness Score  \
0                      Western Europe           7.587
1                      Western Europe           7.561
2                      Western Europe           7.527
3                      Western Europe           7.522
4                       North America           7.427
...                               ...             ...
1224                                -           3,471
1225                                -           3,268
1226               Sub-Saharan Africa           2,995
1227  Middle East and Northern Africa           2,955
1228                    Southern Asia           2,404

     Economy (GDP per Capita) Family (Social Support)  \
0                     1.39651                 1.34951
1                     1.30232                 1.40223
2                     1.32548                 1.36058
3                       1.459                 1.33095
4                     1.32629                 1.32261
...                       ...                     ...
1224                    1,503                   0,815
1225                    0,785                   0,133
1226                    0,947                   0,690
1227                    1,392                   0,498
1228                    0,758                   0,000

     Health (Life Expectancy)  Freedom Trust (Government Corruption)  \
0                     0.94143  0.66557                       0.41978
1                     0.94784  0.62877                       0.14145
2                     0.87464  0.64938                       0.48357
3                     0.88521  0.66973                       0.36503
4                     0.90563  0.63297                       0.32957
...                       ...      ...                           ...
1224                    0,280    0,571                         0,102
1225                    0,462    0,621                         0,544
1226                    0,270    0,329                         0,105
1227                    0,631    0,103                         0,034
1228                    0,289    0,000                         0,005

     Generosity  Year
0       0.29678  2015
1        0.4363  2015
2       0.34139  2015
3       0.34699  2015
4       0.45811  2015
...         ...   ...
1224      0,012  2022
1225      0,187  2022
1226      0,106  2022
1227      0,082  2022
1228      0,089  2022

[1229 rows x 12 columns]

In [10]:
import matplotlib.pylab as plt
import seaborn as sns

#for my question, I will be looking at only 2 datasets, df3 & df2
number_of_rows_and_columns = df1.shape
first_five_rows = df1.head()
column_names = df1.columns


print(number_of_rows_and_columns)
print(first_five_rows)
print(column_names)

(1229, 12)
   Unnamed: 0  Happiness Rank      Country          Region Happiness Score  \
0           0               1  Switzerland  Western Europe           7.587
1           1               2      Iceland  Western Europe           7.561
2           2               3      Denmark  Western Europe           7.527
3           3               4       Norway  Western Europe           7.522
4           4               5       Canada   North America           7.427

  Economy (GDP per Capita) Family (Social Support) Health (Life Expectancy)  \
0                  1.39651                 1.34951                  0.94143
1                  1.30232                 1.40223                  0.94784
2                  1.32548                 1.36058                  0.87464
3                    1.459                 1.33095                  0.88521
4                  1.32629                 1.32261                  0.90563

   Freedom Trust (Government Corruption) Generosity  Year
0  0.66557                       0.41978    0.29678  2015
1  0.62877                       0.14145     0.4363  2015
2  0.64938                       0.48357    0.34139  2015
3  0.66973                       0.36503    0.34699  2015
4  0.63297                       0.32957    0.45811  2015
Index(['Unnamed: 0', 'Happiness Rank', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Year'],
      dtype='object')

In [110]:
unique_values = df1.nunique(axis=0)
print(unique_values)

'''this output showcases that the survey includes data for all countries (158 unique values
under 'Countries') in the international arena over a span of 8 years'''

Unnamed: 0                        158
Happiness Rank                    158
Country                           195
Region                             17
Happiness Score                  1131
Economy (GDP per Capita)         1150
Family (Social Support)          1133
Health (Life Expectancy)         1080
Freedom                          1053
Trust (Government Corruption)     952
Generosity                        979
Year                                8
dtype: int64

"this output showcases that the survey includes data for all countries (158 unique values\nunder 'Countries') in the international arena over a span of 8 years"

In [111]:
print(df1['Country'].unique())

print(df1['Region'].unique())

''' to show which countries and regions are being analyzed. 
This showcases that there are some countries that are assigned a '*', and some 
regions are null: '-'

'''

['Switzerland' 'Iceland' 'Denmark' 'Norway' 'Canada' 'Finland'
 'Netherlands' 'Sweden' 'New Zealand' 'Australia' 'Israel' 'Costa Rica'
 'Austria' 'Mexico' 'United States' 'Brazil' 'Luxembourg' 'Ireland'
 'Belgium' 'United Arab Emirates' 'United Kingdom' 'Oman' 'Venezuela'
 'Singapore' 'Panama' 'Germany' 'Chile' 'Qatar' 'France' 'Argentina'
 'Czech Republic' 'Uruguay' 'Colombia' 'Thailand' 'Saudi Arabia' 'Spain'
 'Malta' 'Taiwan' 'Kuwait' 'Suriname' 'Trinidad and Tobago' 'El Salvador'
 'Guatemala' 'Uzbekistan' 'Slovakia' 'Japan' 'South Korea' 'Ecuador'
 'Bahrain' 'Italy' 'Bolivia' 'Moldova' 'Paraguay' 'Kazakhstan' 'Slovenia'
 'Lithuania' 'Nicaragua' 'Peru' 'Belarus' 'Poland' 'Malaysia' 'Croatia'
 'Libya' 'Russia' 'Jamaica' 'North Cyprus' 'Cyprus' 'Algeria' 'Kosovo'
 'Turkmenistan' 'Mauritius' 'Hong Kong' 'Estonia' 'Indonesia' 'Vietnam'
 'Turkey' 'Kyrgyzstan' 'Nigeria' 'Bhutan' 'Azerbaijan' 'Pakistan' 'Jordan'
 'Montenegro' 'China' 'Zambia' 'Romania' 'Serbia' 'Portugal' 'Latvia'
 'Philippines' 'Somaliland region' 'Morocco' 'Macedonia' 'Mozambique'
 'Albania' 'Bosnia and Herzegovina' 'Lesotho' 'Dominican Republic' 'Laos'
 'Mongolia' 'Swaziland' 'Greece' 'Lebanon' 'Hungary' 'Honduras'
 'Tajikistan' 'Tunisia' 'Palestinian Territories' 'Bangladesh' 'Iran'
 'Ukraine' 'Iraq' 'South Africa' 'Ghana' 'Zimbabwe' 'Liberia' 'India'
 'Sudan' 'Haiti' 'Congo (Kinshasa)' 'Nepal' 'Ethiopia' 'Sierra Leone'
 'Mauritania' 'Kenya' 'Djibouti' 'Armenia' 'Botswana' 'Myanmar' 'Georgia'
 'Malawi' 'Sri Lanka' 'Cameroon' 'Bulgaria' 'Egypt' 'Yemen' 'Angola'
 'Mali' 'Congo (Brazzaville)' 'Comoros' 'Uganda' 'Senegal' 'Gabon' 'Niger'
 'Cambodia' 'Tanzania' 'Madagascar' 'Central African Republic' 'Chad'
 'Guinea' 'Ivory Coast' 'Burkina Faso' 'Afghanistan' 'Rwanda' 'Benin'
 'Syria' 'Burundi' 'Togo' 'Puerto Rico' 'Belize' 'Somalia'
 'Somaliland Region' 'Namibia' 'South Sudan' 'Taiwan Province of China'
 'Hong Kong S.A.R., China' 'Trinidad & Tobago' 'Northern Cyprus'
 'North Macedonia' 'Gambia' 'Hong Kong S.A.R. of China' 'Maldives'
 'Luxembourg*' 'Czechia' 'Guatemala*' 'Kuwait*' 'Belarus*' 'Turkmenistan*'
 'North Cyprus*' 'Libya*' 'Azerbaijan*' 'Gambia*' 'Liberia*' 'Congo'
 'Niger*' 'Comoros*' 'Palestinian Territories*' 'Eswatini, Kingdom of*'
 'Madagascar*' 'Chad*' 'Yemen*' 'Mauritania*' 'Lesotho*' 'Botswana*'
 'Rwanda*']
['Western Europe' 'North America' 'Australia and New Zealand'
 'Middle East and Northern Africa' 'Latin America and Caribbean'
 'Southeastern Asia' 'Central and Eastern Europe' 'Eastern Asia'
 'Sub-Saharan Africa' 'Southern Asia' '-' 'North America and ANZ'
 'Middle East and North Africa' 'East Asia' 'Southeast Asia'
 'Commonwealth of Independent States' 'South Asia']

" to show which countries and regions are being analyzed. \nThis showcases that there are some countries that are assigned a '*', and some \nregions are null: '-'\n\n"

In [147]:
df1['Country'] = df1['Country'].astype('str')



type(df1['Happiness Score'])

df1.transform(pd.to_numeric, errors='coerce')

,Unnamed: 0,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,0,1,NaN,NaN,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,1,2,NaN,NaN,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,2,3,NaN,NaN,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,3,4,NaN,NaN,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,4,5,NaN,NaN,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
1224,141,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1225,142,143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1226,143,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1227,144,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1228,145,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [128]:
print(df1['Year'].unique())

'''This analysis showcases the timespan for which we can analyze trends'''

[2015 2016 2017 2018 2019 2020 2021 2022]

'This analysis showcases the timespan for which we can analyze trends'

In [107]:
check_nan = df1.isnull().values.any()
print(check_nan)

''' to ensure there are no NaN values in our dataset to be cleaned'''

False

' to ensure there are no NaN values in our dataset to be cleaned'

In [108]:
df2= df1.drop(df1.columns[0], axis=1)
print(df2.shape)

'''to drop Unnamed column and ensure the column has been deleted'''

(1229, 11)

'to drop Unnamed column and ensure the column has been deleted'

In [121]:
print(min(df2['Happiness Score']))
print(max(df2['Happiness Score']))

'''to showcase the minimum and maximum values observed for happiness score'''

2,404
7.842

'to showcase the minimum and maximum values observed for happiness score'

In [109]:
print(min(df2['Economy (GDP per Capita)']))
print(max(df2['Economy (GDP per Capita)']))

0,000
2,209

In [154]:
df3 = df2[df2.Year != 2022]
print(df)

      Happiness Rank      Country              Region Happiness Score  \
0                  1  Switzerland      Western Europe           7.587
1                  2      Iceland      Western Europe           7.561
2                  3      Denmark      Western Europe           7.527
3                  4       Norway      Western Europe           7.522
4                  5       Canada       North America           7.427
...              ...          ...                 ...             ...
1078             145      Lesotho  Sub-Saharan Africa           3.512
1079             146     Botswana  Sub-Saharan Africa           3.467
1080             147       Rwanda  Sub-Saharan Africa           3.415
1081             148     Zimbabwe  Sub-Saharan Africa           3.145
1082             149  Afghanistan          South Asia           2.523

     Economy (GDP per Capita) Family (Social Support)  \
0                     1.39651                 1.34951
1                     1.30232                 1.40223
2                     1.32548                 1.36058
3                       1.459                 1.33095
4                     1.32629                 1.32261
...                       ...                     ...
1078                    0.451                   0.731
1079                    1.099                   0.724
1080                    0.364                   0.202
1081                    0.457                   0.649
1082                     0.37                     0.0

     Health (Life Expectancy)  Freedom Trust (Government Corruption)  \
0                     0.94143  0.66557                       0.41978
1                     0.94784  0.62877                       0.14145
2                     0.87464  0.64938                       0.48357
3                     0.88521  0.66973                       0.36503
4                     0.90563  0.63297                       0.32957
...                       ...      ...                           ...
1078                    0.007    0.405                         0.015
1079                     0.34    0.539                         0.088
1080                    0.407    0.627                         0.493
1081                    0.243    0.359                         0.075
1082                    0.126      0.0                          0.01

     Generosity  Year
0       0.29678  2015
1        0.4363  2015
2       0.34139  2015
3       0.34699  2015
4       0.45811  2015
...         ...   ...
1078      0.103  2021
1079      0.027  2021
1080      0.227  2021
1081      0.157  2021
1082      0.122  2021

[1083 rows x 11 columns]

In [156]:
df4 = df3.transform(pd.to_numeric, errors='coerce')

In [157]:
df4.describe()

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
count,1083.000000,0.0,0.0,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000
mean,78.003693,NaN,NaN,5.412204,0.916687,1.050359,0.611036,0.430679,0.127517,0.208905,2017.968606
std,44.752183,NaN,NaN,1.118346,0.401499,0.332085,0.248725,0.152705,0.108029,0.117427,1.996516
min,1.000000,NaN,NaN,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,39.000000,NaN,NaN,4.571000,0.612965,0.835440,0.436392,0.331000,0.055000,0.122265,2016.000000
50%,78.000000,NaN,NaN,5.384300,0.982019,1.082680,0.643680,0.449000,0.093000,0.196000,2018.000000
75%,117.000000,NaN,NaN,6.207250,1.237500,1.310832,0.799645,0.552420,0.160825,0.265955,2020.000000
max,158.000000,NaN,NaN,7.842000,1.870766,1.644000,1.141000,0.724000,0.551910,0.838075,2021.000000