# Darya Amirbeigi

## How has life expectancy, economy, and social support contributed to the average global happiness index from 2015-20221?

Agriculture takes away forest land coverage, which in turn decreases the ecosystem ability to obsorve carbon dioxide in the atmosphere. This research question is aiming to see if countries that have a focus on agriculture tend to have more carbon dioxide in their atmosphere and if thats the case, how does it affect their climate change.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

df1 = pd.read_csv('../data/raw/world_happiness_report.csv')

print(df1)

      Unnamed: 0  Happiness Rank      Country  \
0              0               1  Switzerland
1              1               2      Iceland
2              2               3      Denmark
3              3               4       Norway
4              4               5       Canada
...          ...             ...          ...
1224         141             142    Botswana*
1225         142             143      Rwanda*
1226         143             144     Zimbabwe
1227         144             145      Lebanon
1228         145             146  Afghanistan

                               Region Happiness Score  \
0                      Western Europe           7.587
1                      Western Europe           7.561
2                      Western Europe           7.527
3                      Western Europe           7.522
4                       North America           7.427
...                               ...             ...
1224                                -           3,471
1225                                -           3,268
1226               Sub-Saharan Africa           2,995
1227  Middle East and Northern Africa           2,955
1228                    Southern Asia           2,404

     Economy (GDP per Capita) Family (Social Support)  \
0                     1.39651                 1.34951
1                     1.30232                 1.40223
2                     1.32548                 1.36058
3                       1.459                 1.33095
4                     1.32629                 1.32261
...                       ...                     ...
1224                    1,503                   0,815
1225                    0,785                   0,133
1226                    0,947                   0,690
1227                    1,392                   0,498
1228                    0,758                   0,000

     Health (Life Expectancy)  Freedom Trust (Government Corruption)  \
0                     0.94143  0.66557                       0.41978
1                     0.94784  0.62877                       0.14145
2                     0.87464  0.64938                       0.48357
3                     0.88521  0.66973                       0.36503
4                     0.90563  0.63297                       0.32957
...                       ...      ...                           ...
1224                    0,280    0,571                         0,102
1225                    0,462    0,621                         0,544
1226                    0,270    0,329                         0,105
1227                    0,631    0,103                         0,034
1228                    0,289    0,000                         0,005

     Generosity  Year
0       0.29678  2015
1        0.4363  2015
2       0.34139  2015
3       0.34699  2015
4       0.45811  2015
...         ...   ...
1224      0,012  2022
1225      0,187  2022
1226      0,106  2022
1227      0,082  2022
1228      0,089  2022

[1229 rows x 12 columns]

In [ ]:
d1 = df1.shape
d2 = df1.head()
d3 = df1.columns
print(d1)
print(d2)
print(d3)

(1229, 12)
   Unnamed: 0  Happiness Rank      Country          Region Happiness Score  \
0           0               1  Switzerland  Western Europe           7.587
1           1               2      Iceland  Western Europe           7.561
2           2               3      Denmark  Western Europe           7.527
3           3               4       Norway  Western Europe           7.522
4           4               5       Canada   North America           7.427

  Economy (GDP per Capita) Family (Social Support) Health (Life Expectancy)  \
0                  1.39651                 1.34951                  0.94143
1                  1.30232                 1.40223                  0.94784
2                  1.32548                 1.36058                  0.87464
3                    1.459                 1.33095                  0.88521
4                  1.32629                 1.32261                  0.90563

   Freedom Trust (Government Corruption) Generosity  Year
0  0.66557                       0.41978    0.29678  2015
1  0.62877                       0.14145     0.4363  2015
2  0.64938                       0.48357    0.34139  2015
3  0.66973                       0.36503    0.34699  2015
4  0.63297                       0.32957    0.45811  2015
Index(['Unnamed: 0', 'Happiness Rank', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Year'],
      dtype='object')

In [ ]:
df1 = df1.transform(pd.to_numeric, errors='coerce')

In [ ]:
df1.nunique(axis=0)
df1.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,Unnamed: 0,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
count,1229.000000,1229.000000,0.000000,0.000000,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000,1229.000000
mean,76.471928,77.468674,nan,nan,5.412204,0.916687,1.050359,0.611036,0.430679,0.127517,0.208905,2018.447518
std,44.474367,44.474181,nan,nan,1.118346,0.401499,0.332085,0.248725,0.152705,0.108029,0.117427,2.283610
min,0.000000,1.000000,nan,nan,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,38.000000,39.000000,nan,nan,4.571000,0.612965,0.835440,0.436392,0.331000,0.055000,0.122265,2016.000000
50%,76.000000,77.000000,nan,nan,5.384300,0.982019,1.082680,0.643680,0.449000,0.093000,0.196000,2018.000000
75%,115.000000,116.000000,nan,nan,6.207250,1.237500,1.310832,0.799645,0.552420,0.160825,0.265955,2020.000000
max,157.000000,158.000000,nan,nan,7.842000,1.870766,1.644000,1.141000,0.724000,0.551910,0.838075,2022.000000

In [ ]:
df1 = df1[df1.Year != 2022]
df1

,Unnamed: 0,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,0,1,NaN,NaN,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,1,2,NaN,NaN,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,2,3,NaN,NaN,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,3,4,NaN,NaN,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,4,5,NaN,NaN,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
1078,144,145,NaN,NaN,3.512,0.45100,0.73100,0.00700,0.40500,0.01500,0.10300,2021
1079,145,146,NaN,NaN,3.467,1.09900,0.72400,0.34000,0.53900,0.08800,0.02700,2021
1080,146,147,NaN,NaN,3.415,0.36400,0.20200,0.40700,0.62700,0.49300,0.22700,2021
1081,147,148,NaN,NaN,3.145,0.45700,0.64900,0.24300,0.35900,0.07500,0.15700,2021
1082,148,149,NaN,NaN,2.523,0.37000,0.00000,0.12600,0.00000,0.01000,0.12200,2021

In [ ]:

df1 = df1.drop(['Happiness Rank', 'Country', 'Region', 'Freedom', 'Trust (Government Corruption)', 'Generosity'], axis=1)

KeyError: "['Happiness Rank', 'Country', 'Region', 'Freedom', 'Trust (Government Corruption)', 'Generosity'] not found in axis"

In [ ]:
df1= df1.drop(df1.columns[0], axis=1)
print(df1.shape)
df1

(1083, 4)

,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Year
0,1.39651,1.34951,0.94143,2015
1,1.30232,1.40223,0.94784,2015
2,1.32548,1.36058,0.87464,2015
3,1.45900,1.33095,0.88521,2015
4,1.32629,1.32261,0.90563,2015
...,...,...,...,...
1078,0.45100,0.73100,0.00700,2021
1079,1.09900,0.72400,0.34000,2021
1080,0.36400,0.20200,0.40700,2021
1081,0.45700,0.64900,0.24300,2021
1082,0.37000,0.00000,0.12600,2021

(1083, 5)