# Yahia Kamel Hussein

## What are the countries that offer their citizens the best living standards as observed by happiness score, social support, economy, freedom, and government corruption

Based on

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
#Understanding my variables
import seaborn as sns

df = pd.read_csv("world_happiness_report.csv")
print(df)

      Unnamed: 0  Happiness Rank      Country  \
0              0               1  Switzerland
1              1               2      Iceland
2              2               3      Denmark
3              3               4       Norway
4              4               5       Canada
...          ...             ...          ...
1224         141             142    Botswana*
1225         142             143      Rwanda*
1226         143             144     Zimbabwe
1227         144             145      Lebanon
1228         145             146  Afghanistan

                               Region Happiness Score  \
0                      Western Europe           7.587
1                      Western Europe           7.561
2                      Western Europe           7.527
3                      Western Europe           7.522
4                       North America           7.427
...                               ...             ...
1224                                -           3,471
1225                                -           3,268
1226               Sub-Saharan Africa           2,995
1227  Middle East and Northern Africa           2,955
1228                    Southern Asia           2,404

     Economy (GDP per Capita) Family (Social Support)  \
0                     1.39651                 1.34951
1                     1.30232                 1.40223
2                     1.32548                 1.36058
3                       1.459                 1.33095
4                     1.32629                 1.32261
...                       ...                     ...
1224                    1,503                   0,815
1225                    0,785                   0,133
1226                    0,947                   0,690
1227                    1,392                   0,498
1228                    0,758                   0,000

     Health (Life Expectancy)  Freedom Trust (Government Corruption)  \
0                     0.94143  0.66557                       0.41978
1                     0.94784  0.62877                       0.14145
2                     0.87464  0.64938                       0.48357
3                     0.88521  0.66973                       0.36503
4                     0.90563  0.63297                       0.32957
...                       ...      ...                           ...
1224                    0,280    0,571                         0,102
1225                    0,462    0,621                         0,544
1226                    0,270    0,329                         0,105
1227                    0,631    0,103                         0,034
1228                    0,289    0,000                         0,005

     Generosity  Year
0       0.29678  2015
1        0.4363  2015
2       0.34139  2015
3       0.34699  2015
4       0.45811  2015
...         ...   ...
1224      0,012  2022
1225      0,187  2022
1226      0,106  2022
1227      0,082  2022
1228      0,089  2022

[1229 rows x 12 columns]

In [ ]:
#Understanding my Happiness Dataset

print("First Five Rows and Columns: ",df.shape)
print("Head: ", df.head())
print("Columns: ", df.columns)

#df1.nunique(axis=0)
#df1.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

First Five Rows and Columns:  (1229, 12)
Head:     Unnamed: 0  Happiness Rank      Country          Region Happiness Score  \
0           0               1  Switzerland  Western Europe           7.587
1           1               2      Iceland  Western Europe           7.561
2           2               3      Denmark  Western Europe           7.527
3           3               4       Norway  Western Europe           7.522
4           4               5       Canada   North America           7.427

  Economy (GDP per Capita) Family (Social Support) Health (Life Expectancy)  \
0                  1.39651                 1.34951                  0.94143
1                  1.30232                 1.40223                  0.94784
2                  1.32548                 1.36058                  0.87464
3                    1.459                 1.33095                  0.88521
4                  1.32629                 1.32261                  0.90563

   Freedom Trust (Government Corruption) Generosity  Year
0  0.66557                       0.41978    0.29678  2015
1  0.62877                       0.14145     0.4363  2015
2  0.64938                       0.48357    0.34139  2015
3  0.66973                       0.36503    0.34699  2015
4  0.63297                       0.32957    0.45811  2015
Columns:  Index(['Unnamed: 0', 'Happiness Rank', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Year'],
      dtype='object')

In [ ]:
#preview dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229 entries, 0 to 1228
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1229 non-null   int64
 1   Happiness Rank                 1229 non-null   int64
 2   Country                        1229 non-null   object
 3   Region                         1229 non-null   object
 4   Happiness Score                1229 non-null   object
 5   Economy (GDP per Capita)       1229 non-null   object
 6   Family (Social Support)        1229 non-null   object
 7   Health (Life Expectancy)       1229 non-null   object
 8   Freedom                        1229 non-null   object
 9   Trust (Government Corruption)  1229 non-null   object
 10  Generosity                     1229 non-null   object
 11  Year                           1229 non-null   int64
dtypes: int64(3), object(9)
memory usage: 115.3+ KB

In [ ]:
unique_values = df.nunique(axis=0)
print(unique_values)

'''This output shows that the survey includes data for all countries (158 unique values under 'Countries') in the international area over a span of 8 years'''

Unnamed: 0                        158
Happiness Rank                    158
Country                           195
Region                             17
Happiness Score                  1131
Economy (GDP per Capita)         1150
Family (Social Support)          1133
Health (Life Expectancy)         1080
Freedom                          1053
Trust (Government Corruption)     952
Generosity                        979
Year                                8
dtype: int64

"This output shows that the survey includes data for all countries (158 unique values under 'Countries') in the international area over a span of 8 years"

In [ ]:
print("Countries: ", df['Country'].unique())

print("Regions: ", df['Region'].unique())


''' To show which countries and regions are being analyzed. This showcases that there are some countries that are assigned a '*', and some regions are null: '-'
'''

Countries:  ['Switzerland' 'Iceland' 'Denmark' 'Norway' 'Canada' 'Finland'
 'Netherlands' 'Sweden' 'New Zealand' 'Australia' 'Israel' 'Costa Rica'
 'Austria' 'Mexico' 'United States' 'Brazil' 'Luxembourg' 'Ireland'
 'Belgium' 'United Arab Emirates' 'United Kingdom' 'Oman' 'Venezuela'
 'Singapore' 'Panama' 'Germany' 'Chile' 'Qatar' 'France' 'Argentina'
 'Czech Republic' 'Uruguay' 'Colombia' 'Thailand' 'Saudi Arabia' 'Spain'
 'Malta' 'Taiwan' 'Kuwait' 'Suriname' 'Trinidad and Tobago' 'El Salvador'
 'Guatemala' 'Uzbekistan' 'Slovakia' 'Japan' 'South Korea' 'Ecuador'
 'Bahrain' 'Italy' 'Bolivia' 'Moldova' 'Paraguay' 'Kazakhstan' 'Slovenia'
 'Lithuania' 'Nicaragua' 'Peru' 'Belarus' 'Poland' 'Malaysia' 'Croatia'
 'Libya' 'Russia' 'Jamaica' 'North Cyprus' 'Cyprus' 'Algeria' 'Kosovo'
 'Turkmenistan' 'Mauritius' 'Hong Kong' 'Estonia' 'Indonesia' 'Vietnam'
 'Turkey' 'Kyrgyzstan' 'Nigeria' 'Bhutan' 'Azerbaijan' 'Pakistan' 'Jordan'
 'Montenegro' 'China' 'Zambia' 'Romania' 'Serbia' 'Portugal' 'Latvia'
 'Philippines' 'Somaliland region' 'Morocco' 'Macedonia' 'Mozambique'
 'Albania' 'Bosnia and Herzegovina' 'Lesotho' 'Dominican Republic' 'Laos'
 'Mongolia' 'Swaziland' 'Greece' 'Lebanon' 'Hungary' 'Honduras'
 'Tajikistan' 'Tunisia' 'Palestinian Territories' 'Bangladesh' 'Iran'
 'Ukraine' 'Iraq' 'South Africa' 'Ghana' 'Zimbabwe' 'Liberia' 'India'
 'Sudan' 'Haiti' 'Congo (Kinshasa)' 'Nepal' 'Ethiopia' 'Sierra Leone'
 'Mauritania' 'Kenya' 'Djibouti' 'Armenia' 'Botswana' 'Myanmar' 'Georgia'
 'Malawi' 'Sri Lanka' 'Cameroon' 'Bulgaria' 'Egypt' 'Yemen' 'Angola'
 'Mali' 'Congo (Brazzaville)' 'Comoros' 'Uganda' 'Senegal' 'Gabon' 'Niger'
 'Cambodia' 'Tanzania' 'Madagascar' 'Central African Republic' 'Chad'
 'Guinea' 'Ivory Coast' 'Burkina Faso' 'Afghanistan' 'Rwanda' 'Benin'
 'Syria' 'Burundi' 'Togo' 'Puerto Rico' 'Belize' 'Somalia'
 'Somaliland Region' 'Namibia' 'South Sudan' 'Taiwan Province of China'
 'Hong Kong S.A.R., China' 'Trinidad & Tobago' 'Northern Cyprus'
 'North Macedonia' 'Gambia' 'Hong Kong S.A.R. of China' 'Maldives'
 'Luxembourg*' 'Czechia' 'Guatemala*' 'Kuwait*' 'Belarus*' 'Turkmenistan*'
 'North Cyprus*' 'Libya*' 'Azerbaijan*' 'Gambia*' 'Liberia*' 'Congo'
 'Niger*' 'Comoros*' 'Palestinian Territories*' 'Eswatini, Kingdom of*'
 'Madagascar*' 'Chad*' 'Yemen*' 'Mauritania*' 'Lesotho*' 'Botswana*'
 'Rwanda*']
Regions:  ['Western Europe' 'North America' 'Australia and New Zealand'
 'Middle East and Northern Africa' 'Latin America and Caribbean'
 'Southeastern Asia' 'Central and Eastern Europe' 'Eastern Asia'
 'Sub-Saharan Africa' 'Southern Asia' '-' 'North America and ANZ'
 'Middle East and North Africa' 'East Asia' 'Southeast Asia'
 'Commonwealth of Independent States' 'South Asia']

" To show which countries and regions are being analyzed. This showcases that there are some countries that are assigned a '*', and some regions are null: '-'\n"

In [ ]:
#Dropping rows with null values

df_cleaned = df[df.Region != '-']
print(df_cleaned)

'''To delete all instances where region is null'''

      Unnamed: 0  Happiness Rank       Country  \
0              0               1   Switzerland
1              1               2       Iceland
2              2               3       Denmark
3              3               4        Norway
4              4               5        Canada
...          ...             ...           ...
1221         138             139      Tanzania
1222         139             140  Sierra Leone
1226         143             144      Zimbabwe
1227         144             145       Lebanon
1228         145             146   Afghanistan

                               Region Happiness Score  \
0                      Western Europe           7.587
1                      Western Europe           7.561
2                      Western Europe           7.527
3                      Western Europe           7.522
4                       North America           7.427
...                               ...             ...
1221               Sub-Saharan Africa           3,702
1222               Sub-Saharan Africa           3,574
1226               Sub-Saharan Africa           2,995
1227  Middle East and Northern Africa           2,955
1228                    Southern Asia           2,404

     Economy (GDP per Capita) Family (Social Support)  \
0                     1.39651                 1.34951
1                     1.30232                 1.40223
2                     1.32548                 1.36058
3                       1.459                 1.33095
4                     1.32629                 1.32261
...                       ...                     ...
1221                    0,848                   0,597
1222                    0,686                   0,416
1226                    0,947                   0,690
1227                    1,392                   0,498
1228                    0,758                   0,000

     Health (Life Expectancy)  Freedom Trust (Government Corruption)  \
0                     0.94143  0.66557                       0.41978
1                     0.94784  0.62877                       0.14145
2                     0.87464  0.64938                       0.48357
3                     0.88521  0.66973                       0.36503
4                     0.90563  0.63297                       0.32957
...                       ...      ...                           ...
1221                    0,425    0,578                         0,270
1222                    0,273    0,387                         0,055
1226                    0,270    0,329                         0,105
1227                    0,631    0,103                         0,034
1228                    0,289    0,000                         0,005

     Generosity  Year
0       0.29678  2015
1        0.4363  2015
2       0.34139  2015
3       0.34699  2015
4       0.45811  2015
...         ...   ...
1221      0,248  2022
1222      0,202  2022
1226      0,106  2022
1227      0,082  2022
1228      0,089  2022

[1183 rows x 12 columns]

'To delete all instances where region is null'

In [ ]:
print(df['Year'].unique())

'''This analysis showcases the timespan for which we can analyze trends'''

[2015 2016 2017 2018 2019 2020 2021 2022]

'This analysis showcases the timespan for which we can analyze trends'

In [ ]:
check_null_values = df.isnull().values.any()
print(check_null_values)

''' To ensure there are no null values in our dataset to be cleaned'''

False

' To ensure there are no null values in our dataset to be cleaned'

In [ ]:
df_cleaned_2= df_cleaned.drop(df_cleaned.columns[0], axis=1)
print(df_cleaned_2.shape)

'''To drop Unnamed column and ensure the column has been deleted'''

(1183, 11)

'To drop Unnamed column and ensure the column has been deleted'

In [ ]:
df_cleaned_3 = df_cleaned_2[df_cleaned_2.Year != 2022]
print(df_cleaned_3)
#df_cleaned_3.describe()

      Happiness Rank      Country              Region Happiness Score  \
0                  1  Switzerland      Western Europe           7.587
1                  2      Iceland      Western Europe           7.561
2                  3      Denmark      Western Europe           7.527
3                  4       Norway      Western Europe           7.522
4                  5       Canada       North America           7.427
...              ...          ...                 ...             ...
1078             145      Lesotho  Sub-Saharan Africa           3.512
1079             146     Botswana  Sub-Saharan Africa           3.467
1080             147       Rwanda  Sub-Saharan Africa           3.415
1081             148     Zimbabwe  Sub-Saharan Africa           3.145
1082             149  Afghanistan          South Asia           2.523

     Economy (GDP per Capita) Family (Social Support)  \
0                     1.39651                 1.34951
1                     1.30232                 1.40223
2                     1.32548                 1.36058
3                       1.459                 1.33095
4                     1.32629                 1.32261
...                       ...                     ...
1078                    0.451                   0.731
1079                    1.099                   0.724
1080                    0.364                   0.202
1081                    0.457                   0.649
1082                     0.37                     0.0

     Health (Life Expectancy)  Freedom Trust (Government Corruption)  \
0                     0.94143  0.66557                       0.41978
1                     0.94784  0.62877                       0.14145
2                     0.87464  0.64938                       0.48357
3                     0.88521  0.66973                       0.36503
4                     0.90563  0.63297                       0.32957
...                       ...      ...                           ...
1078                    0.007    0.405                         0.015
1079                     0.34    0.539                         0.088
1080                    0.407    0.627                         0.493
1081                    0.243    0.359                         0.075
1082                    0.126      0.0                          0.01

     Generosity  Year
0       0.29678  2015
1        0.4363  2015
2       0.34139  2015
3       0.34699  2015
4       0.45811  2015
...         ...   ...
1078      0.103  2021
1079      0.027  2021
1080      0.227  2021
1081      0.157  2021
1082      0.122  2021

[1064 rows x 11 columns]

In [ ]:

#region_drop = df_cleaned_3.columns.drop('Region')
#country_drop = df_cleaned_3.columns.drop('Country')
#df_cleaned_3[region_drop] = df_cleaned_3[region_drop].apply(pd.to_numeric, errors='coerce')
#df_cleaned_3[country_drop] = df_cleaned_3[country_drop].apply(pd.to_numeric, errors='coerce')
#df_cleaned_3.info()
df_cleaned_3["Happiness Score"]=df_cleaned_3["Happiness Score"].astype(float)
df_cleaned_3["Economy (GDP per Capita)"]=df_cleaned_3["Economy (GDP per Capita)"].astype(float)
df_cleaned_3["Family (Social Support)"]=df_cleaned_3["Family (Social Support)"].astype(float)
df_cleaned_3["Health (Life Expectancy)"]=df_cleaned_3["Health (Life Expectancy)"].astype(float)
df_cleaned_3["Freedom"]=df_cleaned_3["Freedom"].astype(float)
df_cleaned_3["Trust (Government Corruption)"]=df_cleaned_3["Trust (Government Corruption)"].astype(float)


#df_cleaned_4 = df_cleaned_3.loc[:, ~df_cleaned_3.columns.isin(['Region', 'Country'])].apply(pd.to_numeric, errors = 'coerce')

C:\Users\Dell\AppData\Local\Temp\ipykernel_1532\3880534377.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_3["Happiness Score"]=df_cleaned_3["Happiness Score"].astype(float)
C:\Users\Dell\AppData\Local\Temp\ipykernel_1532\3880534377.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_3["Economy (GDP per Capita)"]=df_cleaned_3["Economy (GDP per Capita)"].astype(float)
C:\Users\Dell\AppData\Local\Temp\ipykernel_1532\3880534377.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_3["Family (Social Support)"]=df_cleaned_3["Family (Social Support)"].astype(float)
C:\Users\Dell\AppData\Local\Temp\ipykernel_1532\3880534377.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_3["Health (Life Expectancy)"]=df_cleaned_3["Health (Life Expectancy)"].astype(float)
C:\Users\Dell\AppData\Local\Temp\ipykernel_1532\3880534377.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_3["Freedom"]=df_cleaned_3["Freedom"].astype(float)
C:\Users\Dell\AppData\Local\Temp\ipykernel_1532\3880534377.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_3["Trust (Government Corruption)"]=df_cleaned_3["Trust (Government Corruption)"].astype(float)

In [ ]:
df_cleaned_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1064 entries, 0 to 1082
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 1064 non-null   int64
 1   Country                        1064 non-null   object
 2   Region                         1064 non-null   object
 3   Happiness Score                1064 non-null   float64
 4   Economy (GDP per Capita)       1064 non-null   float64
 5   Family (Social Support)        1064 non-null   float64
 6   Health (Life Expectancy)       1064 non-null   float64
 7   Freedom                        1064 non-null   float64
 8   Trust (Government Corruption)  1064 non-null   float64
 9   Generosity                     1064 non-null   object
 10  Year                           1064 non-null   int64
dtypes: float64(6), int64(2), object(3)
memory usage: 99.8+ KB

In [ ]:

dropped_df = df_cleaned_3.drop(['Year', 'Generosity', 'Happiness Rank'], axis=1)
''' I have dropped Year and Generosity columns as I am not going to need it for my analysis'''

' I have dropped Year and Generosity columns as I am not going to need it for my analysis'

In [ ]:
dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1064 entries, 0 to 1082
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        1064 non-null   object
 1   Region                         1064 non-null   object
 2   Happiness Score                1064 non-null   float64
 3   Economy (GDP per Capita)       1064 non-null   float64
 4   Family (Social Support)        1064 non-null   float64
 5   Health (Life Expectancy)       1064 non-null   float64
 6   Freedom                        1064 non-null   float64
 7   Trust (Government Corruption)  1064 non-null   float64
dtypes: float64(6), object(2)
memory usage: 107.1+ KB

In [ ]:
dropped_df.describe()

,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption)
count,1064.000000,1064.000000,1064.000000,1064.000000,1064.000000,1064.000000
mean,5.418920,0.919224,1.050222,0.613049,0.430625,0.127485
std,1.119277,0.399295,0.332545,0.247509,0.152321,0.108336
min,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.571000,0.618450,0.840197,0.439750,0.329094,0.055000
50%,5.387500,0.983096,1.081475,0.644974,0.448440,0.092850
75%,6.224075,1.241105,1.311449,0.800467,0.552335,0.160568
max,7.842000,1.870766,1.644000,1.141000,0.724000,0.551910

In [ ]:
#ordered = dropped_df.groupby("Region")["Happiness Score"].mean().sort_values(ascending = False)
#sns.barplot(x = "Region", y = "Happiness Score", data = dropped_df, order = ordered.index)
#plt.xticks(rotation = 90)
#plt.show()
#ordered1 = dropped_df.groupby("Region")["Economy (GDP per Capita)"].mean().sort_values(ascending = False)
#sns.barplot(x = "Region", y = "Economy (GDP per Capita)", data = dropped_df, order = ordered1.index)
#plt.xticks(rotation = 90)
#plt.show()
#ordered2 = dropped_df.groupby("Region")["Family (Social Support)"].mean().sort_values(ascending = False)
#sns.barplot(x = "Region", y = "Family (Social Support)", data = dropped_df, order = ordered2.index)
#plt.xticks(rotation = 90)
#plt.show()

In [ ]:
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [ ]:
sliced_df = dropped_df.iloc[:, 2:]
normalized_df = normalize(sliced_df)
normalized_df["Country"] = dropped_df["Country"]
normalized_df["Region"] = dropped_df["Region"]
print(normalized_df)
'''Normalizing my dataset on each column to be between 0 and 1 so I can further continue my analysis'''

      Happiness Score  Economy (GDP per Capita)  Family (Social Support)  \
0            0.952059                  0.746491                 0.820870
1            0.947171                  0.696143                 0.852938
2            0.940778                  0.708523                 0.827603
3            0.939838                  0.779895                 0.809580
4            0.921978                  0.708956                 0.804507
...               ...                       ...                      ...
1078         0.185937                  0.241078                 0.444647
1079         0.177477                  0.587460                 0.440389
1080         0.167701                  0.194573                 0.122871
1081         0.116939                  0.244285                 0.394769
1082         0.000000                  0.197780                 0.000000

      Health (Life Expectancy)   Freedom  Trust (Government Corruption)  \
0                     0.825092  0.919296                       0.760595
1                     0.830710  0.868467                       0.256292
2                     0.766556  0.896934                       0.876175
3                     0.775819  0.925041                       0.661394
4                     0.793716  0.874268                       0.597144
...                        ...       ...                            ...
1078                  0.006135  0.559392                       0.027178
1079                  0.297984  0.744475                       0.159446
1080                  0.356705  0.866022                       0.893262
1081                  0.212971  0.495856                       0.135892
1082                  0.110429  0.000000                       0.018119

          Country              Region
0     Switzerland      Western Europe
1         Iceland      Western Europe
2         Denmark      Western Europe
3          Norway      Western Europe
4          Canada       North America
...           ...                 ...
1078      Lesotho  Sub-Saharan Africa
1079     Botswana  Sub-Saharan Africa
1080       Rwanda  Sub-Saharan Africa
1081     Zimbabwe  Sub-Saharan Africa
1082  Afghanistan          South Asia

[1064 rows x 8 columns]

'Normalizing my dataset on each column to be between 0 and 1 so I can further continue my analysis'

In [ ]:
ordered = normalized_df.groupby("Country")["Happiness Score", "Economy (GDP per Capita)",
                                           "Family (Social Support)", "Health (Life Expectancy)", 
                                           "Freedom", "Trust (Government Corruption)"].mean().sort_values(by = ['Happiness Score'], ascending = False)
# sliced_ordered = ordered.iloc[:, 2:]
# ordered.drop(['Country'], axis = 1)
# ordered = ordered[:10]
print(ordered)
'''Taking the mean for all columns over all the years between 2015-2021 and ordering them descendingly based on the colum "Happiness Score"'''

                          Happiness Score  Economy (GDP per Capita)  \
Country
Finland                          0.958255                  0.726669
Denmark                          0.949013                  0.749318
Switzerland                      0.940749                  0.787882
Iceland                          0.938751                  0.743860
Norway                           0.937985                  0.806706
...                                   ...                       ...
South Sudan                      0.150649                  0.182552
Syria                            0.144614                  0.373702
Burundi                          0.141925                  0.023843
Afghanistan                      0.134099                  0.187568
Central African Republic         0.127765                  0.018129

                          Family (Social Support)  Health (Life Expectancy)  \
Country
Finland                                  0.849641                  0.760166
Denmark                                  0.855917                  0.759807
Switzerland                              0.837510                  0.813588
Iceland                                  0.884918                  0.796490
Norway                                   0.847979                  0.770845
...                                           ...                       ...
South Sudan                              0.224595                  0.160657
Syria                                    0.216503                  0.496302
Burundi                                  0.245017                  0.188839
Afghanistan                              0.209002                  0.208537
Central African Republic                 0.000000                  0.035191

                           Freedom  Trust (Government Corruption)
Country
Finland                   0.880228                       0.763900
Denmark                   0.884143                       0.809431
Switzerland               0.865265                       0.703987
Iceland                   0.878089                       0.262793
Norway                    0.900443                       0.668032
...                            ...                            ...
South Sudan               0.181098                       0.218611
Syria                     0.112845                       0.289082
Burundi                   0.213102                       0.248266
Afghanistan               0.116342                       0.078091
Central African Republic  0.437140                       0.087232

[169 rows x 6 columns]

C:\Users\Dell\AppData\Local\Temp\ipykernel_1532\3616312743.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ordered = normalized_df.groupby("Country")["Happiness Score", "Economy (GDP per Capita)",

'Taking the mean for all columns over all the years between 2015-2021 and ordering them descendingly based on the colum "Happiness Score"'

In [ ]:
vals = [] # Create an empty list to hold the requested values
for i in range(1, len(ordered['Happiness Score'])): # Loop over the rows ('i')
        val = ordered.iloc[i, ordered['Happiness Score'][i]] # Get the requested value from row 'i'
        vals.append(val) # append value to list 'vals'
ordered['value'] = vals # Add list 'vals' as a new column to the DataFrame

'''Here I am looping over the ordered dataframe and summing up all the columns for every specific country to therefore use that for visualizations'''

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types